// content view部分样式
// ---------------------------
.w {
    width: 1200px;
    flex: 1 0 auto;
    margin: 0 auto;
}

// 水平间距
.ph {
    padding: 0 15px;
}

// 垂直间距
.pv {
    padding: 15px 0;
}

// loading 背景色透明
.el-loading-mask {
    background: rgba(255, 255, 0, 0);
}

// 右侧头部
// ---------------------------
.right-content-header {
    height: 62px;
    line-height: 32px;

    @include module-placeholder();

    .header-right {
        float: right;
    }
}

// 面包屑统一样式
// ---------------------------
.el-breadcrumb {
    float: left;
    height: 32px;
    line-height: 32px;
    font-size: 16px;

    .bread-item-custom {
        font-weight: 700;
        cursor: pointer;

        .el-breadcrumb__inner {
            color: #303133;
            transition: color 0.2s;
        }

        &.is-link:hover {
            .el-breadcrumb__inner {
                color: #003366;
            }
        }
    }
}

// 头部右侧按钮、输入框
// ---------------------------
.search-bar {
    width: 200px;
}

// 筛选行
.filter-wrap {
    height: 32px;
    line-height: 32px;
    margin-bottom: 10px;

    .filter-name {
        font-size: 14px;
        margin-right: 5px;
    }
}

// 表格统一样式
// ---------------------------

// 右侧有header的table类
.table-wrap {
    height: calc(100% - 77px);
    @include module-placeholder(0);
}

.table-has-filter-wrap {
    height: calc(100% - 119px);
    @include module-placeholder(0);
}

//右侧无header的table类
.table-wrap-no-header {
    height: 100%;
    @include module-placeholder(0);
}

.el-table-box {
    height: 100%;
}

.el-table-common {
    height: calc(100% - 52px);
    min-height: 539px;

    .el-table__header {
        font-size: 13px;
        background-color: #ccc;

        th {
            padding: 5px 0;
            background-color: #f3f3f3;
        }
    }

    .el-table__body-wrapper {
        font-size: 12px;
    }

    td {
        padding: 10px 0;
    }

    .cell {
        height: 30px;
        line-height: 30px;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center;
    }

    .el-tag {
        cursor: pointer;
    }

    .el-button--small,
    .el-button--small.is-round {
        padding: 5px 10px;
    }

    .handle-item {
        position: relative;
        margin: 0 10px;
        color: #409eff;
        cursor: pointer;
        font-weight: 500;

        &.disable-item {
            color: #ccc;
        }
    }
}

.el-table-has-filter {
    height: calc(100% - 94px);
}

.el-table-common-bottom {
    margin-top: 30px;
    text-align: center;
}

// 脚部样式
// ---------------------------
.right-content-footer {
    height: 32px;
    margin-top: 20px;

    .footer-left {
        float: left;
    }

    .el-pagination {
        float: right;
        width: 75%;
        text-align: right;
    }
}

// 弹层通用样式
// ---------------------------
.el-dialog-common {
    .el-dialog {
        width: 600px;
        border-radius: 5px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    }

    .el-dialog__header {
        padding: 15px 20px;
        height: 50px;
        line-height: 20px;
        background-color: #003366;
    }

    .el-dialog__title {
        color: #fff;
    }

    .el-dialog__headerbtn {
        top: 16px;
        font-size: 18px;
    }

    .el-dialog__close {
        font-weight: 600;
        color: #fff;

        &:hover {
            color: #fff;
        }
    }

    .el-dialog__body {
        padding: 20px 30px;
    }

    .el-dialog__footer {
        text-align: center;
    }

    .el-table-common {
        min-height: auto;

        th,
        td {
            padding: 8px 0;
        }
    }
}
// form样式
// ---------------------------
.el-form-wrap {
    position: relative;
    height: calc(100% - 77px);
    min-height: 621px;
    @include module-placeholder(0, 20px);
}

.el-form-common {
    width: 600px;
    margin: 0 auto;
    height: calc(100% - 52px);

    .el-form-item--small.el-form-item {
        margin-bottom: 25px;
    }

    // 评分
    .el-rate {
        height: 32px;
        line-height: 32px;
    }

    .el-rate__item {
        height: 32px;
    }

    .el-rate__icon {
        line-height: 30px;
    }

    .el-upload__tip {
        margin-left: 15px;
    }
}

.el-common-form-bottom {
    margin-top: 30px;
    text-align: center;
}

.el-form-item__label {
    color: #333;
}
